<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftcho-nav bg-dark ftco-navbar-light scrolled awake"
    id="ftco-navbar">
    <div class="container" id="ftco-na">
      <a class="navbar-brand" href="index.html">
        <div class="logimg">
          <img src="img/Logo.png" class="logoimg" alt="logos" srcset="">
        </div>
      </a>
      <!--Toggle btn-->
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav align-content-center">

          <form class="form-inline mt-2 mt-md-0" id="search">
            <input class="form-control mr-sm-auto" id="search" type="search" placeholder="Search" aria-label="Search">

          </form>
          </li>
        </ul>

        <ul class="navbar-nav navbar-icon ml-auto" id="icon-side">
          <li class="nav-item mr-auto"><a href="#" class="nav-link" id="icon-top"><span
                class="icon-heart-o"></span><span class="fit"> Wishlist</span></a></li>

          <li class="dropdown nav-item has-dropdown mr-auto" data-toggle="collapse" data-target="#dropdown-menu"
            aria-controls="dropdown-menu" aria-expanded="false">
            <a href="#" class="nav-link dropdown-toggle" id="icon-top"><span class="icon-user-o"></span><span
                class="fit"> Account</span></a>
            <div class="dropdown-menu shadow ftco-animate fadeInUpMenu">
              <a class="dropdown-item" href="#">Login</a>
              <a class="dropdown-item" href="#">Signup</a>
            </div>
          </li>
          <li class="nav-item mr-auto"><a href="#" class="nav-link" id="icon-top"><span
                class="icon-shopping_cart"></span><span class="fit"> Cart</span></a></li>
        </ul>
      </div>

    </div>
  </nav>




























<!--ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'profile' %}">My Profile</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
	{% else %}
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'register' %}">Signup</a></li>
	{% endif %}
		<li><a href="{% url 'product:product_list' %}">Products</a></li>
		<li><a href="{% url 'cart:cart_detail' %}">MyCart</a></li>
	
</ul>



<p>Welcome, {{ user.profile.user.username }}</p -->