{% extends 'base/base.html' %}

{% block content %}

  <section id="hero-sub">
    <div class="py-1 bg-black">
      <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md-8 pr-3 w-100 d-flex topper align-items-center" id="sample1">
                <li class="nav-link"><a href="#" id="link-color">Deals</a></li>
                <li class="nav-link"><a href="#" id="link-color">Best Seller</a></li>
                <li class="nav-link"><a href="#" id="link-color">Editor's Choice</a></li>
                <li class="nav-link"><a href="#" id="link-color">Help</a></li>
                <li class="nav-link"><a href="#" id="link-color">Gift Card</a></li>
                <li class="nav-link"><a href="about.html" id="link-color">About</a></li>
                <li class="nav-link"><a href="contact.html" id="link-color">Contact</a></li>
              </div>
              <div class="col-md-2 pr-4 d-flex topper align-items-center">
                <div class="dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="sample2"><span
                      class="icon-globe" id="icon-top"></span> en</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">jp</a>
                    <a class="dropdown-item" href="#">unk</a>
                    <a class="dropdown-item" href="#">gh</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Slider-->
  <section id="home-section" class="hero mt-0">
    <div class="home-slider js-fullheight owl-carousel ftco-owl">
      <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
            data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight"
              style="background-image:url(img/PHOTO-2019-12-16-10-17-20.jpg);">
            </div>
            <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
              data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                <div class="horizontal">
                  <h1 class="mb-4 mt-3">Want to turn your ideas in <span>successful</span> Business?</h1>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                  <p><a href="shop.html" class="btn btn-danger px-5 py-3 mt-3">Shop Now</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" id="slider-x">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
            data-scrollax-parent="true">
            <div class="one-third order-md-last img js-fullheight"
              style="background-image:url(img/yingchou-han-IJrIeCs3D4g-unsplash.jpg);">
            </div>
            <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
              data-scrollax=" properties: { translateY: '70%' }">
              <div class="text">
                <h1 class="mb-4 mt-3">Want to start <span>Shopping</span> Now?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta.</p>

                <p><a href="shop.html" class="btn btn-danger px-5 py-3 mt-3">Shop Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section id="ftco-sign">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-5 bg-light w-100 ftco-animate" id="platter">
          <div class="row">
            <div class="col-md-8 mt-3">
              <h2 class="text-muted text-center">Sign in for the best experience</h2>
              <a href="#signin" class="btn-block btn-danger btn-lg w-80 h-35 mt-5  text-center" id="btn-border">Sign
                in</a>
              <p class="text-danger">New Here? <a href="#login" class="text-danger"> Create Account</a></p>
            </div>
            <div class="col-md-4">
              <div class="row mt-3">
                <img class="img-fluid align-items-center" src="img/img1.jpg" alt="img">
                <a href="#shopping" class="btn-danger btn-lg btn-block text-center mt-1" id="btn-border">Start
                  Shopping<span class="icon ion-ios-arrow-forward px-4"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section id="ftco-galla">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-5 bg-light w-100 ftco-animate" id="platter">
          <div class="album py-5 bg-light">
            <div class="container">
              <p class="text mb-5 text-left" id="galla-title">Design ideas and Inspiration <a href="#"
                  class="text-center px-4 text-secondary">See more</a></p>

              <div class="row">
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-21.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Amanda Style</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/kilarov-zaneit-WR5hZDLv79A-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/melody-jacob-WuZ7poeM21Y-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Kushit man</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-17.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African style 1</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-171.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African style 2</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-18.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African design</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p class="text mb-5 text-left" id="galla-title">Jewelry, handbags and accessories <a href="#"
                  class="text-center px-4 text-secondary">See more</a></p>

              <div class="row">
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-21.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Amanda Style</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/kilarov-zaneit-WR5hZDLv79A-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Fitness Watch</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/melody-jacob-WuZ7poeM21Y-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>Kushit man</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-17.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African style 1</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-171.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African style 2</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-18.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-shopping_cart icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star icon"></i>
                        <i class="icon-star-half-o icon"></i>
                        <i class="icon-star-o icon"></i>
                        <h3>African design</h3>
                        <h5>$400.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p class="text mb-5 text-left" id="galla-title">Shop by categories <a href="#"
                  class="text-center px-4 text-secondary">See more</a></p>

              <div class="row">
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-21.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Clothing & Accessories</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/kilarov-zaneit-WR5hZDLv79A-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Shoes & More</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/melody-jacob-WuZ7poeM21Y-unsplash.jpg"
                      alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Handbags & Accessories</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-17.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Home & Art</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-171.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Beauty & Wellness</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card mb-4 box-shadow product-top" id="card-indent">
                    <img class="card-img-top" data-src="" src="img/PHOTO-2019-12-16-10-17-18.jpg" alt="Card image cap">
                    <div class="overlay">
                      <a href="#" class="btn btn-secondary" type="button" title="Quick Shop"><i
                          class="icon-eye icon image-popup"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Add to Wishlist"><i
                          class="icon-heart-o icon"></i></a>
                      <a href="#" class="btn btn-secondary" type="button" title="Open Categories"><i
                          class="icon-collections_bookmark icon"></i></a>
                    </div>
                    <div class="card-body">
                      <div class="product-bottom text-center">
                        <h3>Fabrics & Supplies</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
  </section>

  <section id="ftco-wallart">
    <div class="container-fluid" id="platter">
      <div class="row col-md-12 mt-5 bg-light ftco-animate">
        <div class="col-md-6">
          <img src="img/Untitled-8.jpg" class=" ftco-img mt-3" alt="img">
          <p class="text-center bg-danger text" id="text-top"><span id="text-treat">
              <h3 class="bg-danger text-center" id="text-top">Want to turn your ideas
                into a
                successful
                business?</h3>
            </span></p>
          <a href="#shopping" class="btn-danger btn-lg btn-block text-center" id="btn-border2">Start
            Shopping<span class="icon ion-ios-arrow-forward px-4"></span></a>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card-body">
                <img src="img/PHOTO-2019-12-16-10-17-20.jpg" class="img-fluid " alt="img">
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card shadow mt-3">
                <div class="card-body">
                  <p class="m-0 text-muted  text-uppercase" id="side-text">featured shops</p>
                  <p class="text-muted-50 small m-0 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo
                    fugit ratione dolorum. Ex cum nobis eveniet sint autem magnam maxime blanditiis perspiciatis
                    doloremque rem repudiandae sit numquam at, saepe pariatur! Lorem, ipsum dolor. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quidem.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card-body">
                <img src="img/PHOTO-2019-12-16-10-17-171.jpg" class="img-fluid " alt="img">
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card shadow mt-3">
                <div class="card-body">
                  <p class="m-0 text-muted  text-uppercase" id="side-text">shopping guides</p>
                  <p class="text-muted-50 small m-0 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo
                    fugit ratione dolorum. Ex cum nobis eveniet sint autem magnam maxime blanditiis perspiciatis
                    doloremque rem repudiandae sit numquam at, saepe pariatur! Lorem, ipsum dolor. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quidem.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card-body">
                <img src="img/PHOTO-2019-12-16-10-17-18.jpg" class="img-fluid " alt="img">
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="card shadow mt-3">
                <div class="card-body">
                  <p class="m-0 text-muted  text-uppercase" id="side-text">inspiration</p>
                  <p class="text-muted-50 small m-0 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo
                    fugit ratione dolorum. Ex cum nobis eveniet sint autem magnam maxime blanditiis perspiciatis
                    doloremque rem repudiandae sit numquam at, saepe pariatur! Lorem, ipsum dolor. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Quidem.</p>
                </div>
              </div>
              <a href="#" class="text-danger" id="newsleter-link">See Newsletter<span
                  class="icon ion-ios-arrow-forward px-3"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-testimonial testimony-section">
    <div class="container-fluid">
      <div class="row col-md-12 mt-5 bg-light ftco-animate">
        <div class="col-md-8 mt-5">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
              <h2 class="mb-4 justify-content-center text-uppercase" id="testimony-title">Testimonial</h2>
            </div>
          </div>
          <div class="row ftco-animate">
            <div class="col-md-12">
              <div class="carousel-testimony owl-carousel slide">
                <div class="item">
                  <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-5" style="background-image: url(img/person_1.jpg)">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia, there live the blind texts.</p>
                      <p class="name">Garreth Smith</p>
                      <span class="position">Marketing Manager</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-5" style="background-image: url(img/person_2.jpg)">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia, there live the blind texts.</p>
                      <p class="name">Garreth Smith</p>
                      <span class="position">Interface Designer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-5" style="background-image: url(img/person_3.jpg)">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia, there live the blind texts.</p>
                      <p class="name">Garreth Smith</p>
                      <span class="position">UI Designer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-5" style="background-image: url(img/person_1.jpg)">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia, there live the blind texts.</p>
                      <p class="name">Garreth Smith</p>
                      <span class="position">Web Developer</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-5" style="background-image: url(img/person_2.jpg)">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia
                        and
                        Consonantia, there live the blind texts.</p>
                      <p class="name">Garreth Smith</p>
                      <span class="position">System Analyst</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-5 text-uppercase pocker" id="ftco-sider">
          <div class="text-center mt-5 pt-5 py-5 align-self-center" id="ftn-size">
            <p class="text-center align-self-center">
              <h1>what people say about us</h1>
            </p>
          </div>
          <i class="icon ion-ios-arrow-back barrow text-left"></i>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->

  <footer class="ftco-footer footer-pigment ftco-section mt-5 text-white">
    <div class="container">
      <div class="row col-md-12 text-white ftco-animate">
        <div class="col-md-6" id="news">
          <p class="text-white">
            <div class="newsletter-subscribe">
              <div class="container">
                <div class="intro">
                  <h5 class="text-left text-white" id="socratuf">New to Pilollo?</h5>
                  <p class="text-left">Subscribe to our newsleter to get updates on our new offers </p>
                </div>
                <form class="form-inline" method="post">
                  <div class="form-group"><span class="icon icon-envelope  postus shadow"></span><input
                      class="form-control d-block" style="padding-left: 50px;" type="email" name="email"
                      placeholder="Your Email"></div>
                </form>
              </div>
            </div>
          </p>
        </div>

        <div class="col-md-6" id="news">
          <div class="row">
            <div class="col-md-12">
              <p class="text-white text-center">
                <img src="img/logo-white.png" class="img-slip" alt="">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
          </a>
        </div>
      </div>

      <di class="container-fluid">
        <div class="col-md-12">
          <hr class="fantom">
        </div>
      </di>

      <div class="row mb-2" id="legion">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 text-white" id="texture">Get to Know Us</h2>
            <ul class="list-unstyled text-white">
              <li><a href="#" class="py-2 d-block text-white">About Pilollo</a></li>
              <li><a href="#" class="py-2 d-block text-white">Testimonials</a></li>
              <li><a href="#" class="py-2 d-block text-white">Careers</a></li>
              <li><a href="#" class="py-2 d-block text-white">Investor Relations</a></li>
              <li><a href="#" class="py-2 d-block text-white">Blog</a></li>
              <li><a href="#" class="py-2 d-block text-white">Terms & Conditions</a></li>
              <li><a href="#" class="py-2 d-block text-white">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2 text-white" id="texture">Make Money with Us</h2>
            <ul class="list-unstyled text-white">
              <li><a href="#" class="py-2 d-block text-white">Sell on Pilollo</a></li>
              <li><a href="#" class="py-2 d-block text-white">Become an Affiliate</a></li>
              <li><a href="#" class="py-2 d-block text-white">Advertise Your Products</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 px-5">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 text-white" id="texture">Let Us Help You</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block text-white">Your Account</a></li>
              <li><a href="#" class="py-2 d-block text-white">Your Orders</a></li>
              <li><a href="#" class="py-2 d-block text-white">Delivery Rate &amp; Policy</a></li>
              <li><a href="#" class="py-2 d-block text-white">Help</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 text-white" id="texture">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul class="text-white list-unstyled">
                <li><a href="#" class="py-2 d-block text-white">Payment Method</a></li>
                <li><a href="#" class="py-5 d-block text-white" id="texture">Join Us</a></li>
            </div>
          </div>
        </div>
      </div>

  </footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" id="base">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-10">
                <div class="row">
                  <div class="col-4 borders text-center">
                    <p class="popop"> <span class="icon icon-globe"> </span> English</p>
                  </div>

                  <div class="col-4 borders text-center">
                    <p class="popop"> </span> Ghana</p>
                  </div>

                  <div class="col-4 text-center">
                    <p class="popop"> </span> $ GHC - Ghana Cedis</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-3 ">
                    <p class="popop">
                      <script>
                        document.write(new Date().getFullYear());
                      </script>, Pilollo, Inc</a>
                    </p>
                  </div>

                  <div class="col-3">
                    <ul class="list-unstyled">
                      <li><a href="#" class="d-block popop">Terms of Use</a></li>
                    </ul>
                  </div>

                  <div class="col-3">
                    <ul class="list-unstyled">
                      <li><a href="#" class="d-block popop">Privacy</a></li>
                    </ul>
                  </div>

                  <div class="col-3">
                    <ul class="list-unstyled">
                      <li><a href="#" class="d-block popop">Intrest-Based Ads</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


</body>

</html>